{% comment %}
  Renders a breadcrumb for a product

  Accepts:
  - product: {Object} Product Liquid object
  - links: {Object} The menu object to match the collection urls against

  Usage:
  {% render 'breadcrumb-product', product: product, menu: linklists.main-menu %}
{% endcomment %}

{%- liquid
  assign menuLinks=menu.links
  for item in menuLinks
    if item.type == 'collection_link'
      unless item.title contains 'goedkope'
        assign index=forloop.index0
        for collection in product.collections
          if item.url == collection.url
            assign indexL1=index
          endif
        endfor
      endunless
    endif
  endfor
  assign itemL1 = menuLinks[indexL1]
  
  assign menuLinks=menuLinks[indexL1].links
  for item in menuLinks
    assign index=forloop.index0
    for collection in product.collections
      if item.url == collection.url
        assign indexL2=index
      endif
    endfor
  endfor
  assign itemL2 = menuLinks[indexL2]
  
  assign menuLinks=menuLinks[indexL2].links
  for item in menuLinks
    assign index=forloop.index0
    for collection in product.collections
      if item.url == collection.url
        assign indexL3=index
      endif
    endfor
  endfor
  assign itemL3 = menuLinks[indexL3]
-%}

<nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
  {%- if itemL1.title -%}
    <li><a href="{{ itemL1.url }}">{{ itemL1.title }}</a></li>
  {% endif %}
  {%- if itemL2.title -%}
    <li><a href="{{ itemL2.url }}">{{ itemL2.title }}</a></li>
  {% endif %}
  {%- if itemL3.title -%}
    <li><a href="{{ itemL3.url }}">{{ itemL3.title }}</a></li>
  {% endif %}
  </ol>
</nav>